<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>uploadfile</h1>
    <form action="/uploadfile" enctype="multipart/form-data" method="POST">
        <input type="file" name="uploadfile">
        <input type="submit" value="upload">
    </form>
    <p>
        here we use os.OpenFile to open the file, and then use io.Copy to copy the file to the destination.
    </p>
</body>

</html>
