<div class="Side O-Half-Skele Skel_First">
    <h6><b>Brand</b> - Name </h6>
    <nav>
        <img class="skeletonRound" src="public/images/main_pic.png" alt="Skeleton">
        <br>
        <br>
        <div>
            <ul>
                <li>
                    <a href="/about">About - Us </a>
                </li>
                <li>
                    <a href="/projects">Our Projects</a>
                </li>
                <li>
                    <a href="/history">Our History</a>
                </li>
                <li>
                    <a href="/location">Our Location</a>
                </li>
                <li>
                    <a href="/branches">Our Branches </a>
                </li>
                <li>
                    <a href="/awards">Awards</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
