<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="stylesheet" href="public/css/skeleton.css">
    <link rel="stylesheet" href="public/css/Style.css">
    <link rel="icon" type="image/png" href="public/images/favicon.png">
    {% block title %}{% endblock title %}
</head>

<body>
    {% include "/partials/header.html" %}

    <main class="Settings Skele_Contains Perfect">
        {% include "/partials/left-menu.html" %}
        {% block content %} {% endblock %}
    </main>

    {% include "/partials/footer.html" %}
</body>

</html>
